@import '../../styles/vars.css';

.slider {
  height: 41px;
  margin-top: 16px;
}

.slide {
  padding: 0 0.7rem;
}

.card {
  background-color: white !important;

  transition: 0.15s ease-in-out !important;
}

.card_active {
  background-color: var(--primary-color) !important;
  color: var(--primary-light-color) !important;
}

@media (min-width: 768px) {
  .slide {
    min-width: 140px;
    padding: 0 1rem;
  }
}

@media (min-width: 960px) {
  .slider {
    margin-top: 1.6rem;
    padding: 0 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
