@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,700&display=swap');

*,
*:after,
*:before {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}

html {
  font-size: 16px;
}

@media (max-width: 1199px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
}

/* Reset Slick styles */

.slick-track {
  width: 20000px !important;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slick-arrow {
  width: 48px !important;
  height: 48px !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.slick-arrow:before {
  content: none !important;
}

/* React burger menu */

/* Position and sizing of burger button */
.bm-burger-button {
  display: block;
  position: relative;
  width: 24px;
  height: 15px;
}

@media (min-width: 768px) {
  .bm-burger-button {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #bdbdbd;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  display: none;
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;

  top: 0;
  left: 0;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* General sidebar styles */
.bm-menu {
  background-color: #fff;
  padding: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  /* color: #b8b7ad; */
  /* padding: 0.8em; */
}

/* Individual item */
.bm-item {
  outline: none;
  /* display: inline-block; */
}

.bm-item a {
  padding: 8px 24px;
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
