@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,700&display=swap');

*,
*:after,
*:before {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}

.slick-arrow {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-arrow:before {
  content: none;
}
