@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,700&display=swap');

*,
*:after,
*:before {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}

html {
  font-size: 16px;
}

@media (max-width: 1199px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
}

/* Reset Slick styles */

.slick-track {
  width: 20000px !important;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slick-arrow {
  width: 48px !important;
  height: 48px !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.slick-arrow:before {
  content: none !important;
}
